In [1]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from env import user, password, host

### A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

### What is the probability that no cars drive up in the noon hour?

In [2]:
stats.poisson(2).pmf(0)

0.1353352832366127

### What is the probability that 3 or more cars come through the drive through?

In [3]:


stats.poisson(2).sf(2)

0.32332358381693654

### How likely is it that the drive through gets at least 1 car?

In [4]:
stats.poisson(2).sf(0)

0.8646647167633873

### Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

### What grade point average is required to be in the top 5% of the graduating class?

In [5]:
mean = 3.0
std_dev = 0.3

GPA = stats.norm(mean, std_dev)

top_5_percent_cutoff = GPA.isf(.05)

print(top_5_percent_cutoff)

3.4934560880854417

### What GPA constitutes the bottom 15% of the class?

In [6]:
mean = 3.0
std_dev = 0.3

GPA = stats.norm(mean, std_dev)

bottom_15_percent_cutoff = GPA.ppf(.15)

print(bottom_15_percent_cutoff)

2.689069983151863

### An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [7]:
range_of_gpa = GPA.ppf([0.2,0.3])
range_of_gpa

array([2.74751363, 2.84267985])

If 2.8 gpa then YES they will qualify

### If I have a GPA of 3.5, what percentile am I in?

In [8]:
GPA.cdf(3.5)

0.9522096477271853

### A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [9]:
visitors = 4326
clickrate = 0.02
clicks = 97


probability = 1 - stats.binom.cdf(clicks - 1, visitors, clickrate)

probability

0.1397582363141645

14%

### You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

### What is the probability that at least one of your first 60 answers is correct?

In [10]:
num_q = 100
first_60 = 60
p = 0.01

stats.binom(first_60,p).sf(0)

0.45284335760923855

### The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [11]:
success = .03
walkthru = 59

#### cleaned up each day?

In [12]:
stats.binom(walkthru, success).pmf(1)

0.30250590303772024

#### How likely is it that it goes two days without getting cleaned up?

In [13]:
stats.binom(walkthru *2, success).pmf(0)

0.027483031992576134

#### All week?

In [14]:
stats.binom(walkthru *5, success).pmf(0)

0.00012521651388091245

### You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [15]:
mean = 15*2
std = 3*2

stats.norm(mean,std).cdf(33)

0.6914624612740131

### Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [16]:
import pandas as pd

In [17]:
def get_db_url(database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [18]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

### What percent of employees earn less than 60,000?

In [19]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [22]:
salaries = pd.read_sql('SELECT * FROM salaries s WHERE s.to_date > NOW()', url)

In [23]:
salaries

        emp_no  salary   from_date     to_date
0        10001   88958  2002-06-22  9999-01-01
1        10002   72527  2001-08-02  9999-01-01
2        10003   43311  2001-12-01  9999-01-01
3        10004   74057  2001-11-27  9999-01-01
4        10005   94692  2001-09-09  9999-01-01
...        ...     ...         ...         ...
240119  499995   52868  2002-06-01  9999-01-01
240120  499996   69501  2002-05-12  9999-01-01
240121  499997   83441  2001-08-26  9999-01-01
240122  499998   55003  2001-12-25  9999-01-01
240123  499999   77303  2001-11-29  9999-01-01

[240124 rows x 4 columns]

In [29]:
mean = salaries.salary.mean()
mean

72012.23585730705

In [28]:
std = salaries.salary.std()
std

17309.99538025198

In [30]:
stats.norm(mean, std).cdf(60000)

0.24385742480214423

### What percent of employees earn more than 95,000?

In [31]:
stats.norm(mean, std).sf(95000)

0.09208819199804053

### What percent of employees earn between 65,000 and 80,000?

In [32]:
np.diff(stats.norm(mean, std).cdf([65000, 80000]))

array([0.33506057])

### What do the top 5% of employees make?

In [36]:
stats.norm(mean, std).isf(.05)

100484.64454102777

#### Hint If you're looking at this exercise and wondering "How do I get pandas to talk the database, again?", remember that you'll need 3 things: your .gitignore, your env.py, and to use pd.read_sql. Copy over your .gitignore and env.py from your data science libraries exercises folder, and connect to the employees database like so: